<!DOCTYPE html>

<head>
   <link rel="stylesheet" href="myCss.css">
   <title>Results</title>
</head>

<body>

   <header style="font-family: courier">Results</header><hr>
   
   <p><%= result %></p>

</body>

</html>