@font-face {
    font-family: pressStart;
    src: url(/fonts/pressStart2P.ttf) format('truetype');
}

@font-face {
    font-family: polygon;
    src: url(/fonts/polygonParty.ttf) format('truetype');
}

img.present {
   height: 100%;
   width: auto;
   margin: 0px;
   padding: 0px;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

header {
   font-family: courier;
   text-align: center;
   margin: 8px;
}

div.leftSign {
   z-index: 1;
   position: fixed;
   left: 0;
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

div.leftSign > a {
   text-decoration: none;
}

@media only screen and (max-width: 700px) {
   div.rightSign {
      z-index: 1;
      position: fixed;
      left: 0;
      top: 150px;
      width: 300px;
      height: 150px;
      margin: 0px;
      padding: 8px;
      background-image: url(/images/hanging_sign.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
   }
}

div.rightSign {
   z-index: 1;
   position: fixed;
   right: 0;
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

header.leftSignText {
   text-align: center;
   font-family: polygon;
   font-weight: normal;
   font-size: 26px;
   color: rgb(75, 125, 175);
   margin: 0px;
   margin-top: 50px;
   padding: 10px;
   padding-left: 16px;
   padding-right: 16px;
}

.rightSign > header > a {
   font-size: 22px;
}

.rightSign > header > a:hover {
   text-decoration: underline;
}

.promptLogin {
   text-align: center;
   font-family: courier;
   font-weight: normal;
   font-size: 20px;
   color: gray;
   margin: 0px;
   margin-top: 30px;
   padding: 10px;
   padding-left: 16px;
   padding-right: 16px;
   text-decoration: none;
   overflow: auto;
}

.toOutpost {
   text-decoration: none;
   color: rgb(75, 125, 175);
}

.toOutpost:hover {
   text-decoration: underline;
   color: white
}

.welcome {
   color: white;
   font-size: 22px;
}

.status {
   color: red;
   font-family: polygon;
   font-size: 30px;
   margin: 0px;
   padding-top: 0px;
}

div.gifts {
   z-index: 1;
   margin: auto;
   padding: 0px;
   display: inline-block;
}

div.outerGifts {
   padding-top: 20px;
   z-index: -1;
   background-color: rgb(150, 150, 150, .25);
   border-radius: 8px;
   width: 100%;
   max-width: 1000px;
   margin: auto;
}

div.gift {
   position: relative;
   font-size: 14px;
   margin: 4px;
   padding: 4px;
   width: 225px;
   height: 225px;
   max-width: 225px;
   max-height: 225px;
   border-radius: 8px;
   display: inline-block;
   vertical-align: top;
}

div.trade {
   background-color: rgb(100, 100, 100, .25);
   padding: 8px;
   border-radius: 8px;
   position: relative;
   font-size: 14px;
   margin: 4px;
   width: 450px;
   height: 225px;
   max-width: 450px;
   max-height: 225px;
   border-radius: 8px;
   display: inline-block;
   vertical-align: top;
   padding: 0px;
}

div.tradeLeft {
   border-radius: 4px;
   width: 30%;
   height: 60%;
   margin: 8px;
   padding: 8px;
   position: absolute;
   top: 0;
   left: 5%;
}

div.tradeRight {
   border-radius: 4px;
   width: 30%;
   height: 60%;
   margin: 8px;
   padding: 8px;
   position: absolute;
   top: 0;
   right: 5%;
}

img.giftImg {
   border-radius: 6px;
   height: 40%;
   width: 40%;
   margin: 0px;
   padding: 0px;
   
}

div.gift > header {
   font-size: 14px;
   margin-top: 4px;
   margin-bottom: 4px;
   width: 100%;
   position: relative;
   text-align: left;
   font-family: courier;
}

.redeem {
   text-align: center;
   width: 75%;
   position: absolute;
   bottom: 0;
   left: 12.5%;
   margin: auto;
   margin-bottom: 8px;
   color: black;
   font-family: courier;
}

.redeem:hover {
   color: white;
}

.expand {
   padding: 0px;
   margin: 0px;
   margin-top: -25px;
   font-size: 22px;
   color: rgb(80, 80, 80);
   float: right;
}
.expand > a {
   font-size: 20px;
   color: rgb(80, 80, 80);
   font-family: times;
   text-decoration: none;
}

.expand > a:hover {
   color: white;
}

div.formOuter {
   margin: auto;
   padding: 0px;
   width: 1000px;
   display: inline-block;
}

div.formInner {
   margin: 0px;
   padding: 0px;
   width: 45%;
   border-radius: 8px;
   padding: 16px;
   padding-top: 4px;
   padding-bottom: 16px;
   display: inline-block;
   vertical-align: top;
   background-color: rgb(100, 100, 100, .25);
}

.formLeft {
   left: 0;
   display: inline-block;
   width: 50%;
   margin: 0px;
   margin-right: 0px;
   margin-bottom: 4px;
}

.formRight {
   right: 0;
   display: inline-block;
   width: 45%;
   margin: 0px;
   margin-left: 0px;
   margin-bottom: 4px;
}

.formLeft > header {
   text-align: left;
}

.formRight > input {
   width: 100%;
   text-align: left;
}