@font-face {
    font-family: pressStart;
    src: url(/fonts/pressStart2P.ttf) format('truetype');
}

@font-face {
    font-family: polygon;
    src: url(/fonts/polygonParty.ttf) format('truetype');
}

img.present {
   height: 100%;
   width: auto;
   margin: 0px;
   padding: 0px;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #cccccc;
   background-repeat: no-repeat;
}

header {
   font-family: courier;
   text-align: center;
   margin: 8px;
}

div.leftSign {
   position: absolute;
   left: 0;
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

div.leftSign > a {
   text-decoration: none;
}

@media only screen and (max-width: 700px) {
   div.rightSign {
   position: absolute;
   left: 0;
   top: 150px;
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
}

div.rightSign {
   position: absolute;
   right: 0;
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}



header.leftSignText {
   text-align: center;
   font-family: polygon;
   font-weight: normal;
   font-size: 26px;
   color: rgb(75, 125, 175);
   margin: 0px;
   margin-top: 50px;
   padding: 10px;
   padding-left: 16px;
   padding-right: 16px;
}

.rightSign > header > a {
   font-size: 22px;
}

.rightSign > header > a:hover {
   text-decoration: underline;
}

.promptLogin {
   text-align: center;
   font-family: courier;
   font-weight: normal;
   font-size: 20px;
   color: gray;
   margin: 0px;
   margin-top: 55px;
   padding: 10px;
   padding-left: 16px;
   padding-right: 16px;
   text-decoration: none;
}

.welcome {
   color: white;
   font-size: 22px;
}

div.gifts {
   display: inline-block;
   margin: auto;
   padding: 0px;
   background-color: rgb(150, 150, 150, .25);
   border-radius: 8px;
}

div.gifts > header {
   font-family: polygon;
   font-size: 32px;
   padding-top: 8px;
   color: red;
}

.gift {
   margin: 0px;
   text-align: center;
   width: 250px;
   height: 250px;
   display: inline-block;
}