@font-face {
    font-family: pressStart;
    src: url(/fonts/pressStart2P.ttf) format('truetype');
}

@font-face {
    font-family: polygon;
    src: url(/fonts/polygonParty.ttf) format('truetype');
}

img.present {
   height: 100%;
   width: auto;
   margin: 0px;
   padding: 0px;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: #cccccc;
   background-repeat: no-repeat;
}

header {
   font-family: courier;
   text-align: center;
}

div.leftSign {
   width: 300px;
   height: 150px;
   margin: 0px;
   padding: 8px;
   background-image: url(/images/hanging_sign.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

header.leftSignText {
   text-align: center;
   font-family: polygon;
   font-weight: normal;
   font-size: 28px;
   color: rgb(180, 180, 180);
   margin: 0px;
   margin-top: 50px;
   padding: 8px;
   padding-left: 16px;
   padding-right: 16px;
}

div.gifts {
   display: inline-block;
   margin: auto;
   padding: 0px;
   background-color: rgb(100, 100, 100, .5);
   border-radius: 16px;
}

div.gifts > header {
   font-family: polygon;
   font-size: 32px;
   padding-top: 8px;
   color: red;
}

.gift {
   margin: 0px;
   text-align: center;
   width: 250px;
   height: 250px;
   display: inline-block;
}